
.content{
	background: #E3E3E3;
    padding: 44px 0px;
}
.login-l{
	width:547px;
	text-align: center;
}
.login-l a{
	display: inline-block;
    height: 300px;
    text-align: center;
    width: 100%;
}
.login-r{
	width:360px;
	border:1px solid #ccc;
	padding:20px 0;
	background: #fff;
}
.login-r a{
	color: #039;
}

.login-r .login-r-in{
	padding: 0 25px 15px 30px;
}
.login-title{
	 height: 21px;
    margin-bottom: 23px;
}
.login-title h2{
	color: #333;
    float: left;
    font: 18px microsoft yahei;
}
.login-title span{
	font-family: 'SimSun';
}
.gogo{
    color:#666;
}
.username-icon{
	background: url(../images/login_icon.png) no-repeat center;
    width: 30px;
    height: 33px;
    display: inline-block;
    background-position: 0 0;
    vertical-align: middle;
	
}
.password-icon {
    background: url(../images/login_icon.png) no-repeat center;
    width: 30px;
    height: 33px;
    display: inline-block;
    background-position: 0 -59px;
    vertical-align: middle;
}
.login-r li{
	position: relative;
	height: 57px;
}
.login-r input{
	width: 250px;
    vertical-align: middle;
    margin-left: -4px;
    height: 31px;
    border: 1px solid #CFCFCF;
    line-height: 30px;
    text-indent: 5px;
    color: #b7b7b7;
	outline-color: #f60;    
}
.input-tip{
	width:275px;
	position: absolute;
    left: 10px;
    top: 35px;
    margin: 0;
    text-align: left;
    display: inline-block;
    font-style: normal;
    padding-left: 17px;
    vertical-align: middle;
}
.login-o a{
	display: inline-block;
    vertical-align: middle;
    width: 73px;
}
.login-o a.login-go{
	 padding: 0 19px;
	margin-top: 10px;
    width: 240px;
    text-align: center;
    font-weight: bolder;
    font-size: 14px;
    height: 30px;
    line-height: 30px;
    color:#fff;
    background:#f60 ;
}
.login-r-t{
	color: #666;
    padding: 16px 25px 0 30px;
    overflow: hidden;
}
.login-r-t dl{
	width: 325px;
}
.login-r-t dt{
	 margin-bottom: 4px;
}
.login-r-t dd{
	float: left;
    height: 30px;
}
.login-r-t dd a{
	padding: 0 16px 0 30px;
	color:#666;
	float:left;
	line-height: 30px;
    margin: 4px 0;
    min-width: 20px;
    white-space: nowrap;
    overflow: hidden;
}
.zfb a,.qq a,.wx a,.sina a{
	height: 30px;
    padding-left: 33px;
    background: url(../images/4link.png) no-repeat;
}
.zfb a{
	background-position: 0px 0px;
}
.qq a{
	background-position: 0px -45px;
}
.wx a{
	background-position: 0px -97px;
}
.sina a{
	background-position: 0px -161px;
}
.sjzf a,.sddl a,.xl a{
    height: 30px;
    padding-left: 33px;
    background: url(../images/otherLoginIcon20140616.gif) no-repeat;
}
.sjzf a{
    background-position: 1px -2576px;
    padding-right: 5px;
}
.sddl a{
    background-position: 3px -2609px;
}
.xl a{
    background-position: 3px -2508px;
    padding-right: 0;
}
.pt a{
    height: 30px;
    padding-left: 33px;
    background: url(../images/ptlogo.gif) no-repeat 0 7px;
}
.login-r-t dd a:hover{
    color:#f60;
    text-decoration: none;
}